/* GLOBAL */
#page {
	padding-top: 30px;
}

body {
	/*background-color: #3b4a78;*/
	/*background-color: rgba(59, 89, 120, 1);*/
	color: black;
	font-family: 'Montserrat', serif;
	
}



/* NAVBAR */
#logout_button{
	margin-right:20px;
}

#navbar_profile_picture {
	height: 25px;
	width: 25px;
}



/* LOGIN SCREEN */
#logo {
	width: 25px;
	height: 25px;
}

#banner {
	height: 100%;
	width: 100%;
}

#index {
	margin-top: 120px;
}

.errors {
	color: red;
}



/* LOGIN SCREEN BUTTONS */
.modal_buttons {
	color: white;
	background: #3b5978;
	border-color: #3b5978;
}

.modal_buttons:hover {
	color: white;
	background: #4c739a;
	border-color: #3b5978;
}

.modal_buttons:focus,
.modal_buttons:active {
	color: white;
  	background-color: #4c739a;
  	border-color: #3b5978;
}

.btn-lg {
  width: 70%;
  font-size: 25px;
  border-radius: 100px;
  margin-top: 50px;
}



/* PROFILE PAGE */
#small_profile_picture {
	height: 70px;
	width: 70px;
}

#large_profile_picture {
	height: 170px;
	width: 170px;
}

.table th, .table td {
    border: 1px !important;
}

#change_profile_picture_text {
	color: black;
}

#change_profile_picture_btn,
#change_profile_picture_btn:hover,
#change_profile_picture_btn:focus,
#change_profile_picture_btn:active {
	background-color: white;
	border-color: white;
}

.carousel img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}

#delete_account_window button {
	margin-left: 15px;
	margin-right: 15px;
}

.table-space {
	margin-top: 30px;
}

.default-hide {
	display:none;	
}


/*NEWSFEED PAGE*/
.post {
	border-style: solid;
	border-radius: 10px;
	border-color: #4367a0;
	border-width: 1px;
	margin-bottom: 1px;
	margin-top: 4px;
}

.post_profile_picture {
	height: 40px;
	width: 40px;
	margin: 5px;
}

.datetime {
	margin-right: 5px;
	color: grey;
	font-size: 12px;
	font-style: italic;
}

.footer-post {
	border-top-style: solid;
	border-width: 1px;
	border-color: grey;
}






backup {
	background: #3b5978; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3b5978, #3b4a78); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3b5978, #3b4a78); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3b5978, #3b4a78); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3b5978, #3b4a78); /* Standard syntax */
    background-repeat:no-repeat;
	background-size:100%;
}