{% extends "navbar.html" %}
{% block navbar %}
<br>
<div class="row">
	<div class="col-xs-8 col-sm-10 col-lg-10">
		<h2>Welcome {{ user.username }}</h2>
	
	</div>
	<div class="col-xs-2 col-sm-2 col-lg-2">
	<br>
		<input type="checkbox" data-toggle="toggle" name="toogle" data-on="Modify" data-off="View" onchange="toogleView(this)">
	</div>
</div>
	
<br>

<div class="col-md-12 text-center"><img id="large_profile_picture" src="{{ url_for('static', filename=avatar_filename) }}"></div>

<br>

<!-- VIEW TABLE -->
<div class="col-xs-offset-0 col-md-offset-3 col-xs-12 col-md-6 col-lg-8" id="view">
	<div class="table-responsive ">
  		<table class="table table-hover">
    		<tbody>
    			<tr>
    				<th>Name</th>
    				<td>{{ user.name }}</td>
    			</tr>
    			<tr>
    				<th>Surname</th>
    				<td>{{ user.surname }}</td>
    			</tr>
    			<tr>
    				<th>Username</th>
    				<td>{{ user.username }}</td>
    			</tr>
    			<tr>
    				<th>Date of birth</th>
    				<td>{{ user.birth }}</td>
    			</tr>
    			<tr>
    				<th>Member since</th>
    				<td>{{ user.registration_date }}</td>
    			</tr>
    			<tr>
    				<th>Country</th>
    				<td>{{ user.country }}</td>
    			</tr>
    			<tr>
    				<th>Profile Picture</th>
    				<td><img id="small_profile_picture" src="{{ url_for('static', filename=avatar_filename) }}"></td>
    			</tr>
    		</tbody>
  		</table>
	</div>
</div>

<!-- MODIFY TABLE - hide by default -->
<div class="col-xs-offset-0 col-md-offset-3 col-xs-12 col-md-6 col-lg-8" id="modify" style="display:none">
	<form method="POST">
		<div class="table-responsive ">
  			<table class="table table-hover">
  				{{ profile.hidden_tag() }}
	    		<tbody>
	    			<tr>
	    				<th>Name</th>
	    				<td>{{ profile.name_profile(placeholder = user.name, class="form-control inputlg") }}</td>
	    			</tr>
	    			<tr>
	    				<th>Surname</th>
	    				<td>{{ profile.surname_profile(placeholder = user.surname, class="form-control inputlg") }}</td>
	    			</tr>
	    			<tr>
	    				<th>Username</th>
	    				<td>{{ user.username }}</td>
	    			</tr>
	    			<tr>
	    				<th>Date of birth</th>
	    				<td>{{ profile.birth_profile(placeholder = user.birth, class="form-control inputlg") }}</td>
	    			</tr>
	    			<tr>
	    				<th>Member since</th>
	    				<td>{{ user.registration_date }}</td>
	    			</tr>
	    			<tr>
	    				<th>Country</th>
	    				<td>{{ profile.country_profile(placeholder = user.country, class="form-control inputlg") }}</td>
	    			</tr>
	    			<tr>
	    				<th>Profile Picture</th>
	    				<td><button>Upload a new profile picture</button></td>
	    			</tr>
	    		</tbody>
    		</table>
		</div>
		<input type="submit" class="btn btn-primary" value="Modify">
		<br>
	</form>
</div>
<h1>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>


{% endblock %}
