{% extends "navbar.html" %}
{% block navbar %}

<!-- Change the default modal behavior to Log In -->
<script type="text/javascript">sessionStorage.setItem('modal', 1);</script>

<br>
<div class="row">

	<!-- GREETING -->
	<div class="col-xs-8 col-sm-10 col-lg-10">
		<!-- Change greeting according to the user -->
		{% if currentUser.username == userPage.username %}
		<h2>My profile</h2>
		{% else %}
		<h2>Welcome to {{ userPage.name }}'s profile</h2>
		{% endif %}
	</div>

	<!-- Allow modification only if owner of the page -->
	{% if currentUser.username == userPage.username %}
	<!-- TOGGLE -->
	<div class="col-xs-2 col-sm-2 col-lg-2">
		<br>
		<input type="checkbox" data-toggle="toggle" name="toogle" data-on="Modify" data-off="View" onchange="toogleView(this)">
	</div>
	{% endif %}
</div>
	
<br>

<!-- PROFILE PICTURE -->
<div class="col-md-12 text-center view">
	<img id="main_picture"
		src="{{ url_for('static', filename='images/profile_pictures/' + userPage.username + '.jpg') }}" 
		alt="Profile Picture" class="img-responsive center-block large_profile_picture" >
	<script type="text/javascript">noCache('main_picture')</script>
</div>

<!-- MODIFY PROFILE PICTURE - hide by deault -->
<div class="col-md-12 text-center">
	<button id="change_profile_picture_btn" class="btn btn-new modify default-hide">
		<div class="carousel slide" data-ride="carousel">
	    	<div class="carousel-inner">
	        	<div class="item active">
	       			<img id="modify_picture"
	       				src="{{ url_for('static', filename='images/profile_pictures/' + currentUser.username + '.jpg') }}" 
	       				alt="Profile Picture" class="img-responsive center-block large_profile_picture">
       				<script type="text/javascript">noCache('modify_picture')</script>
		        	<div class="carousel-caption" id="change_profile_picture_text">
	           			Click to Change
	           		</div>
	        	</div>
	    	</div>
		</div>
	</button>
</div>

<br>

<!-- VIEW TABLE -->
<div class="col-xs-offset-0 col-md-offset-3 col-xs-12 col-md-6 col-lg-8 view table-space">
	<div class="table-responsive ">
  		<table class="table table-hover">
    		<tbody>
    			<tr>
    				<th>Name</th>
    				<td>{{ userPage.name }}</td>
    			</tr>
    			<tr>
    				<th>Surname</th>
    				<td>{{ userPage.surname }}</td>
    			</tr>
    			<tr>
    				<th>Username</th>
    				<td>{{ userPage.username }}</td>
    			</tr>
    			<tr>
    				<th>Date of birth</th>
    				<td>{{ userPage.birth }}</td>
    			</tr>
    			<tr>
    				<th>Member since</th>
    				<td>{{ userPage.registration_date.strftime("%B %d, %Y") }}</td>
    			</tr>
    			<tr>
    				<th>Country</th>
    				<td>{{ userPage.country }}</td>
    			</tr>
    		</tbody>
  		</table>
	</div>
</div>

<!-- MODIFY TABLE - hide by default -->
<div class="col-xs-offset-0 col-md-offset-3 col-xs-12 col-md-6 col-lg-8 modify table-space default-hide">

	<!-- Modify form -->
	<form method="POST">
		<div class="table-responsive ">
  			<table class="table">
  				{{ profile.hidden_tag() }}
	    		<tbody>
	    			<tr>
	    				<th>Name</th>
	    				<td>{{ profile.name_profile(placeholder = currentUser.name, class="form-control inputlg") }}</td>
	    			</tr>
	    			<tr>
	    				<th>Surname</th>
	    				<td>{{ profile.surname_profile(placeholder = currentUser.surname, class="form-control inputlg") }}</td>
	    			</tr>
	    			<tr>
	    				<th>Username</th>
	    				<td>{{ currentUser.username }}</td>
	    			</tr>
	    			<tr>
	    				<th>Date of birth</th>
	    				<td>{{ profile.birth_profile(placeholder = currentUser.birth, class="form-control inputlg") }}</td>
	    			</tr>
	    			<tr>
    					<th>Member since</th>
    					<td>{{ currentUser.registration_date.strftime("%B %d, %Y") }}</td>
    				</tr>
	    			<tr>
	    				<th>Country</th>
	    				<td>{{ profile.country_profile(placeholder = currentUser.country, class="form-control inputlg") }}</td>
	    			</tr>
	    		</tbody>
    		</table>
		</div>

		<!-- Submit form button -->
		<input type="submit" class="btn btn-primary" value="Modify" name="Form">
		<br>
	</form>
	<br>

	<!-- DELETE ACCOUNT BUTTON -->
	<button class="btn btn-danger pull-right" id="delete_account_btn">Delete account</button>
</div>


<!-- MODAL WINDOWS -->
<!-- UPLOAD PICTURE WINDOW -->
<div class="modal fade" id="upload_modal_form" role="dialog">
    <div class="modal-dialog">
    
      	<!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Upload a picture</h4>
	        </div>
	        <form action="" method=post enctype=multipart/form-data>
	        	<br>
	        	<div class="text-center">
	        		<!-- Choose picture -->
      				<p><input type=file name=file class="form-control-file btn"></p>
      				<!-- Upload picture -->
         			<input type=submit value=Upload class="btn btn-primary">
         		</div>
         		<br>
			</form>
      	</div>      
   	</div>
</div>


<!-- DELETE ACCOUNT WINDOW -->
<div class="modal fade" id="delete_account_window" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title text-center">Do you really want to delete your account ?</h4>
	        </div>
	        <br>
	        <div class="text-center">
	        	<!-- KEEP -->
		        <button class="btn btn-success" data-dismiss="modal">KEEP</button>
		        <!-- DELETE -->
		        <a href="/deleteaccount"><button class="btn btn-danger">DELETE</button></a>
		    </div>
	        <br>
      	</div>
	</div>	
</div>

{% endblock %}
