{% extends "navbar.html" %}
{% block navbar %}
<div>
<br>
	<div class="col-md-1">
		<h1>Welcome {{ user.username }}</h1>
	<input type="checkbox" data-toggle="toggle" data-on="View" data-off="Modify" onchange="#">
	</div>
	


	<div class="table-responsive ">
  		<table class="table">
    		<tbody>
    			<tr>
    				<th>Name</th>
    				<td contenteditable="true">{{ user.name }}</td>
    			</tr>
    			<tr>
    				<th>Surname</th>
    				<td contenteditable="true">{{ user.surname }}</td>
    			</tr>
    			<tr>
    				<th>Surname</th>
    				<td contenteditable="true">{{ user.surname }}</td>
    			</tr>
    		</tbody>
  		</table>
	</div>
</div>

{% endblock %}
